<server description="Server for BonusPayout sample">

    <!-- Enable features -->
    <featureManager>
        <feature>batchManagement-1.0</feature>

        <feature>appSecurity-2.0</feature>
        <feature>mpMetrics-2.2</feature>

        <!-- This sample can work without CDI configured, but the use of CDI is always strongly encouraged with batch. -->
        <feature>cdi-2.0</feature>

        <!-- For connection validation -->
        <feature>restConnector-2.0</feature>

        <!-- I would like to enable these but the scheduler doesn't currently play well with dev mode so I'll move these to be conditionally enabled via POM -->
        <!--
        <feature>ejbLite-3.2</feature>
        <feature>concurrent-1.0</feature>
        -->

    </featureManager>

<!-- A user of the Admin Center Java Batch tool must ALSO be an administrator.  This is independent of whatever batch roles,
     "batchAdmin", "batchSubmitter", etc. are mapped to this user. 
     Leave this commented out for now -->
    <administrator-role>
      <user>bob</user>
   </administrator-role>

    <!-- To access this server from a remote client add a host attribute to
        the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <library id="DerbyLib">
        <fileset dir="${shared.resource.dir}/derby"/>
    </library>

    <logging traceSpecification="BonusPayout=all=enabled"/>

    <!--
         Debug batch runtime:
    <logging traceSpecification="BonusPayout=finer:com.ibm.ws.batch.JobLogger=finest"/>
         Debug batch runtime and JDBC:
    <logging traceSpecification="BonusPayout=all=enabled:com.ibm.jbatch.*=all:com.ibm.ws.jbatch.*=all:RRA=all:WAS.j2c=all"/>
    -->

    <dataSource id="batchDB" type="javax.sql.XADataSource">
        <jdbcDriver libraryRef="DerbyLib"/>
        <!-- The 'derby.url' databaseName is set in bootstrap.properties -->
        <properties.derby.embedded createDatabase="create" databaseName="${derby.url}" user="user" password="pass" />
    </dataSource>

    <!--  In this sample we'll use the same database (as the runtime DB) but use a different DS to access it.
          Note that, while the database can be auto-created here, the application table within it needs to be
          by first running the Maven build (so the app will fail if first run in WDT without creating the tables).
    -->
    <dataSource id="appDB" jndiName="jdbc/batch" type="javax.sql.XADataSource">
        <jdbcDriver libraryRef="DerbyLib"/>
        <properties.derby.embedded createDatabase="create" databaseName="${derby.url}" user="user" password="pass"/>
    </dataSource>

    <!-- 
         Create a non-transactional datasource that can be used with a holdable cursor.  Another option
         would be to remove the attribute:  transactional="false" and have a one-phase-only resource
         that could be used to enlist via a "last participant" optimization -->
    <dataSource id="appReadOnlyDB" jndiName="jdbc/ReadOnlyDS" transactional="false">
        <!--
           <dataSource id="appReadOnlyDB" jndiName="jdbc/ReadOnlyDS">
         -->
        <jdbcDriver libraryRef="DerbyLib"/>
        <properties.derby.embedded createDatabase="create" databaseName="${derby.url}" user="user" password="pass"/>
        <connectionManager enableSharingForDirectLookups="false"/>
    </dataSource>

    <databaseStore dataSourceRef="batchDB" id="BatchDatabaseStore" schema="JBATCH" tablePrefix=""/>

    <batchPersistence jobStoreRef="BatchDatabaseStore"/>

    <!-- Not good for dev mode 
    <applicationMonitor updateTrigger="mbean"/>
-->

    <basicRegistry id="basic" realm="ibm/api">
        <user name="bob" password="bobpwd"/>
        <user name="jane" password="janepwd"/>
        <user name="sam" password="sampwd"/>
    </basicRegistry>

    <authorization-roles id="com.ibm.ws.batch">
        <security-role name="batchAdmin">
            <user name="bob"/>
        </security-role>
        <security-role name="batchAdmin">
            <user name="jane"/>
        </security-role>
        <security-role name="batchSubmitter">
            <user name="sam"/>
        </security-role>
    </authorization-roles>

    <application id="batch-bonuspayout-application" location="batch-bonuspayout-application.war" name="batch-bonuspayout-application" type="war">
        <application-bnd>
            <security-role name="JOBSTARTER">
                <user name="sam" />
                <run-as userid="sam" password="sampwd"/>
            </security-role>
        </application-bnd>
    </application>
    
</server>
