/.factorypath
/.classpath
/.project
/.settings
/.apt_generated/
/target
/build/

# At the moment the contents generated here by WDT are uninteresting, but uncomment if you add something here.
/WebContent/


